.header {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: var(--headerGlass) !important;
}

.drawer div {
  background-color: var(--secondaryBackground);
}

.body {
  background-color: var(--background) !important;
  min-height: 100vh;
}
