.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;

    .backBtn {
      background-color: var(--lightPrimary);
      color: var(--primary);
    }

    h4 {
      color: var(--primary);
      font-family: "Lato-Bold";
      font-size: 25px;
      margin: 0 0 0 10px;
    }
  }

  img {
    width: 8%;
    border-radius: 10px;
  }
}

.body {
  margin: 30px 0;
}
