.container {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h4 {
      color: var(--primary);
      font-family: "Lato-Bold";
      font-size: 30px;
    }

    p {
      color: var(--grey);
      font-size: 20px;
      font-family: "Lato-Regular";
    }

    img {
      width: 10%;
    }
  }
  .body {
    margin-top: 20px;

    .row {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;

      .houseCard {
        width: fit-content;
        margin: 20px;
        border-radius: 20px;
        text-align: center;
        padding: 30px;
        cursor: pointer;

        &:hover {
          box-shadow: -1px -1px 25px 3px rgba(0, 0, 0, 0.57);
          -webkit-box-shadow: -1px -1px 25px 3px rgba(0, 0, 0, 0.57);
          -moz-box-shadow: -1px -1px 25px 3px rgba(0, 0, 0, 0.57);
        }

        img {
          width: 60%;
          border-radius: 20px;
        }

        h6 {
          color: var(--text);
          font-size: 40px;
          font-family: "Lato-Bold";
          text-align: center;
          margin-top: 20px;
        }
      }

      .gryffindorBG {
        background-color: #cc3422;
      }

      .slytherinBG {
        background-color: #3e8d20;
      }

      .ravenclawBG {
        background-color: #078aae;
      }

      .hufflepuffBG {
        background-color: #e3be29;
      }

      .commonBg {
        background-color: #ab9c86;
      }
    }
  }
}
