.formControl {
  width: 100%;

  input {
    color: var(--text);
  }

  label {
    color: var(--text);
  }

  fieldset {
    border: 1px solid var(--grey);
  }

  svg {
    color: var(--text);
  }
}
