.header {
  background-color: var(--secondaryBackground) !important;
}

.drawer div {
  background-color: var(--secondaryBackground) !important;
}

.body {
  background-color: var(--background) !important;
}
