.about {
  margin: 50px 0;

  img {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 40px;
  }

  h5 {
    color: var(--text);
    font-size: 22px;
    font-family: "Lato-Bold";
  }

  p {
    color: var(--grey);
    font-size: 18px;
    font-family: "Lato-Regular";
  }

  .wayBtn {
    width: fit-content;
  }
}
