.container {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h4 {
      color: var(--primary);
      font-family: "Lato-Bold";
      font-size: 30px;
    }

    img {
      width: 13%;
    }
  }
}
