.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h4 {
    color: var(--primary);
    font-family: "Lato-Bold";
    font-size: 30px;
  }

  p {
    color: var(--grey);
    font-size: 20px;
    font-family: "Lato-Regular";
  }

  img {
    width: 10%;
  }
}
