body {
  margin: 0;
  font-family: "Lato-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --background: #fff;
  --primary: #0898fc;
  --text: #000;
  --grey: #637381;
  --secondaryBackground: #fff;
}

[data-theme="dark"] {
  --background: #161c24;
  --primary: #0898fc;
  --text: #fff;
  --grey: #637381;
  --secondaryBackground: #212b36;
}

@font-face {
  font-family: "Lato-Black";
  src: url("./assets/fontFamilies/Lato-Black_0.ttf") format("truetype");
}
@font-face {
  font-family: "Lato-Regular";
  src: url("./assets/fontFamilies/Lato-Regular_0.ttf") format("truetype");
}
@font-face {
  font-family: "Lato-Bold";
  src: url("./assets/fontFamilies/Lato-Bold_0.ttf") format("truetype");
}
@font-face {
  font-family: "Lato-Light";
  src: url("./assets/fontFamilies/Lato-Light_0.ttf") format("truetype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
