body {
  margin: 0;
  font-family: "Lato-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Lato-Black";
  src: url("./assets/fontFamilies/Lato-Black_0.ttf") format("truetype");
}
@font-face {
  font-family: "Lato-Regular";
  src: url("./assets/fontFamilies/Lato-Regular_0.ttf") format("truetype");
}
@font-face {
  font-family: "Lato-Bold";
  src: url("./assets/fontFamilies/Lato-Bold_0.ttf") format("truetype");
}
@font-face {
  font-family: "Lato-Light";
  src: url("./assets/fontFamilies/Lato-Light_0.ttf") format("truetype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
