#createPDFEditorMain {
  margin: 30px 0;
  display: grid;
  grid-auto-rows: min-content;
  row-gap: 15px;
  font-family: 'Lato-Regular';

  .formRow {
    display: grid;
    grid-auto-rows: min-content;
    row-gap: 5px;
  }

  .formLabel {
    color: var(--grey);
    font-size: 14px;
  }

  .inputTextFormControl {
    border: 1px solid var(--hoverGrey);
    border-radius: 5px;
    padding: 13px 20px;
    background-color: inherit;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    outline: none;
    color: var(--text);
    width: 100%;

    &:placeholder {
      color: var(--hoverGrey);
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:focus,
    &:hover {
      border-color: var(--primary);
    }

    &.error {
      border: 1px solid #FF0038;
    }

  }

  .addMoreControl {
    border: none;
    outline: none;
    background-color: inherit;
    border: 1px solid var(--primary);
    color: var(--primary);
    padding: 10px;
    border-radius: 5px;
    font-size: 'Lato-Bold';

    &:hover {
      background-color: var(--primary);
      color: var(--text);
    }
  }
}